html {
    --s: 60px; /* control the size */
    
    --_g: #0000 83%,#b09f79 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #476074;
    background-size: calc(2*var(--s)) calc(2*var(--s));
    
  }
  
  
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 200vh;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

header{
    position: relative;
    padding: 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: scale 0.2 ease;
}

.action-btn:active{
    scale: 0.95;
}

